#root {
  max-width: 1280px;
  margin: 0 auto;
}
.main {
  display: grid;
  grid-template-columns: [books-list-section] 70% [reading-list-section] 30%;
  gap: 30px;
}

.books-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  list-style-type: none;
}

.book {
  width: 150px;
  border-radius: 5px;
  box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.41);
}
.reading-list-section {
  background: aliceblue;
}
